{{ 'section-banner-blocks.css' | asset_url | stylesheet_tag }}

{% liquid
  assign rtl = false

  if localization.language.iso_code == 'ar'
    assign rtl = true
  endif
%}

<style>
  #shopify-section-{{ section.id }} .s-banner-blocks {
    {% if section.settings.enable_height %}
    height: {{ section.settings.banner_height_mobile }}px;
    {% endif %}
    margin-top: {{ section.settings.margin_top_mobile }}px;
    margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
    padding-left: {{ section.settings.padding_left_mobile }}px;
    padding-right: {{ section.settings.padding_right_mobile }}px;
  }

  #shopify-section-{{ section.id }} .s-banner-blocks .s-banner-blocks__content {
    align-items: center;
    justify-content: {{ section.settings.content_vertical_align_mobile }};
  }
  #shopify-section-{{ section.id }} .s-banner-blocks .s-banner-blocks__title {
    font-size: {{ section.settings.title_size_mobile }}px;
    color: {{ section.settings.color_title }};
    text-align: {{ section.settings.title_text_align }};
    font-weight: {{ section.settings.title_weight }};
    background-color: {{ section.settings.title_bg_color }};
  }

  #shopify-section-{{ section.id }} .s-banner-blocks .s-banner-blocks__blocks {
    padding-left: {{ section.settings.content_padding_left_mobile }}px;
  	padding-right: {{ section.settings.content_padding_right_mobile }}px;
  }

  @media screen and (min-width: 768px) {
    #shopify-section-{{ section.id }} .s-banner-blocks {
      {% if section.settings.enable_height %}
      height: {{ section.settings.banner_height_desktop }}px;
      {% endif %}
      margin-top: {{ section.settings.margin_top_desktop }}px;
      margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
      padding-left: {{ section.settings.padding_left_desktop }}px;
    }

    #shopify-section-{{ section.id }} .s-banner-blocks .s-banner-blocks__title {
      font-size: {{ section.settings.title_size }}px;
    }

    #shopify-section-{{ section.id }} .s-banner-blocks .s-banner-blocks__content {
      align-items: {{ section.settings.content_horizontal_align_desktop }};
      justify-content: {{ section.settings.content_vertical_align_desktop }};
    }

    #shopify-section-{{ section.id }} .s-banner-blocks .s-banner-blocks__blocks {
      padding-left: {{ section.settings.content_padding_left_desktop }}px;
      margin-right: {{ section.settings.blocks_margin_right }}%;
    }
  }
</style>

{% liquid
  assign banner_link = section.settings.banner_link
%}

<div class="s-banner-blocks">
  {% if section.settings.section_title != blank and rtl %}
    <h2 class="s-banner-blocks__title">
      {{ section.settings.section_title }}
    </h2>
  {% endif %}

  {% if section.settings.section_title_ar != blank %}
    <h2 class="s-banner-blocks__title">
      {{ section.settings.section_title_ar }}
    </h2>
  {% endif %}

  {%- capture inner_content -%}
    {% assign image_blocks = section.blocks | where: "type", "image" %}

    {% if image_blocks.size > 1 %}
      <swiper-container
        slides-per-view="1"
        centered-slides="false"
        watch-overflow="true"
        pagination="false"
        speed="1"
        loop="true"
        autoplay="true"
        lazy="true"
        preload-images="false"
        autoplay-delay="{{ section.settings.slider_delay}}"
        class="s-banner-blocks__swiper"
      >
        {% for block in image_blocks %}
          <swiper-slide>
            <div class="s-banner-blocks__background">
              {% if block.settings.image_mobile != blank %}
                {% render 'image-lazy',
                  image: block.settings.image_mobile,
                  class: 's-banner-blocks__item-image s-banner-blocks__item-image--mobile'
                %}
              {% endif %}

              {% if block.settings.image_desktop != blank %}
                {% render 'image-lazy',
                  image: block.settings.image_desktop,
                  class: 's-banner-blocks__item-image s-banner-blocks__item-image--desktop'
                %}
              {% endif %}
            </div>
          </swiper-slide>
        {% endfor %}
      </swiper-container>
    {% else %}
      <div class="s-banner-blocks__background">
        {% if image_blocks[0].settings.image_mobile != blank %}
          {% render 'image-lazy',
            image: image_blocks[0].settings.image_mobile,
            class: 's-banner-blocks__item-image s-banner-blocks__item-image--mobile'
          %}
        {% endif %}

        {% if image_blocks[0].settings.image_desktop != blank %}
          {% render 'image-lazy',
            image: image_blocks[0].settings.image_desktop,
            class: 's-banner-blocks__item-image s-banner-blocks__item-image--desktop'
          %}
        {% endif %}
      </div>
    {% endif %}
    <div class="s-banner-blocks__content">
      <div class="s-banner-blocks__blocks">
        {% for block in section.blocks %}
          <style>
            #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} {
              padding-top: {{ block.settings.top_padding_mobile }}px;
              padding-bottom: {{ block.settings.bottom_padding_mobile }}px;
              justify-content: {{ block.settings.align }};
              align-items: {{ block.settings.button_align }};

            }

            #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} .s-banner-blocks__item-text * {
              font-size: {{ block.settings.text_size_mobile }}px;
              font-weight: {{ block.settings.title_weight }};
              text-align: {{ block.settings.text_align }};
              color: {{ block.settings.text_color }};
              {% if block.settings.true_alignment %}
              text-align: {{ block.settings.true_alignment }};
              {% endif %}
            }
            
            #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} .s-banner-blocks__button {
              margin-top: {{ block.settings.top_margin_mobile }}px;
              margin-bottom: {{ block.settings.bottom_margin_mobile }}px;
              min-width: {{ block.settings.button_width }}px;
              font-size: {{ block.settings.button_size_mobile }}px;
              color: {{ block.settings.button_color }};
              background-color: {{ block.settings.button_bg_color }};
              border: 1px solid {{ block.settings.button_border_color }};
              justify-content: {{ block.settings.button_align }};
            }
            #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} .s-banner-blocks__button:hover {
              color: {{ block.settings.button_color_hover }};
              background-color: {{ block.settings.button_bg_color_hover }};
              border-color: {{ block.settings.button_border_color_hover }};
            }

            @media screen and (max-width: 767px) {
              #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} .s-banner-blocks__item-text * {
                {% if block.settings.text_display == 'desktop' %}
                  display: none;
                {% endif %}
              }

              #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} .s-banner-blocks__button {
                {% if block.settings.button_display == 'desktop' %}
                  display: none;
                {% endif %}
              }
            }

            @media screen and (min-width: 768px) {
              #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} {
                padding-top: {{ block.settings.top_padding_desktop }}px;
                padding-bottom: {{ block.settings.bottom_padding_desktop }}px;
              }

              #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} .s-banner-blocks__item-text * {
                font-size: {{ block.settings.text_size }}px;

                {% if block.settings.text_display == 'mobile' %}
                  position: fixed;  
                  top: 100px;
                  left: 20px;
                {% endif %}
              }

              #shopify-section-{{ section.id }} .s-banner-blocks__item--{{ block.id }} .s-banner-blocks__button {
                margin-top: {{ block.settings.top_margin_desktop }}px;
                margin-bottom: {{ block.settings.bottom_margin_desktop }}px;
                font-size: {{ block.settings.button_size }}px;

                {% if block.settings.button_display == 'mobile' %}
                  display: none;
                {% endif %}
              }
            }
          </style>
          <div
            class="s-banner-blocks__item s-banner-blocks__item--{{ block.id }}"
          >
            {% if block.settings.content != blank %}
              <div class="s-banner-blocks__item-text">
                {{ block.settings.content }}
              </div>
            {% endif %}
            
            {% if block.settings.button_text != blank %}
              {% if banner_link != blank %}
                <div class="s-banner-blocks__button">
                  {{ block.settings.button_text }}
                </div>
              {% elsif block.settings.link != blank %}
                <a class="s-banner-blocks__button" href="{{ block.settings.link }}">
                  {{ block.settings.button_text }}
                </a>
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {%- endcapture -%}

  {% if section.settings.banner_link != blank %}
    <a href="{{ section.settings.banner_link }}" class="s-banner-blocks__inner">
      {{ inner_content }}
    </a>
  {% else %}
    <div class="s-banner-blocks__inner">
      {{ inner_content }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Section Banner Blocks",
  "settings": [
    {
      "type": "header",
      "content": "Banner Heigth"
    },
    {
      "type": "checkbox",
      "default": true,
      "label": "Enable Static Heigth",
      "id": "enable_height",
      "info": "If disabled then heigth will be calculated by heigth of image"
    },
    {
      "type": "range",
      "id": "banner_height_desktop",
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Heigth (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "banner_height_mobile",
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Heigth (Mobile)",
      "default": 40
    },
    {
      "type": "header",
      "content": "Vertical Spacing Settings"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top Space",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Bottom Space",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Top Space (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Bottom Space (Mobile)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Horizontal Spacing Settings"
    },
    {
      "type": "range",
      "id": "padding_left_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Left Space",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Right Space",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Left Space (Mobile)",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Right Space (Mobile)",
      "default": 20
    },
    {
      "type": "header",
      "content": "Content Outer Spacing"
    },
    {
      "type": "range",
      "id": "content_padding_left_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Left Space",
      "default": 0
    },
    {
      "type": "range",
      "id": "content_padding_right_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Right Space",
      "default": 0
    },
    {
      "type": "range",
      "id": "content_padding_left_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Left Space (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "content_padding_right_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Right Space (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "blocks_margin_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Content Margin Right (Desktop)",
      "default": 0
    },
    {
      "type": "select",
      "id": "content_horizontal_align_desktop",
      "label": "Horizontal Alignment (Desktop)",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_horizontal_align_mobile",
      "label": "Horizontal Alignment (Mobile)",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_vertical_align_desktop",
      "label": "Vertical Alignment (Desktop)",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_vertical_align_mobile",
      "label": "Vertical Alignment (Mobile)",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Botom"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Banner Settinks"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner Link"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "range",
      "id": "slider_delay",
      "min": 100,
      "max": 5000,
      "step": 100,
      "unit": "ms",
      "label": "Slider Delay",
      "default": 3000
    },
    {
      "type": "header",
      "content": "Title Setings"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "section_title_ar",
      "label": "Title AR"
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "label": "Title Size Mobile",
      "min": 20,
      "max": 48,
      "step": 2,
      "default": 24
    },
    {
      "type": "range",
      "id": "title_size",
      "label": "Title Size",
      "min": 20,
      "max": 48,
      "step": 2,
      "default": 32
    },
    {
      "type": "range",
      "id": "title_weight",
      "label": "Title Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 100
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "title_text_align",
      "label": "Title Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "title_bg_color",
      "label": "Title Color",
      "default": "#e3d9d7"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "header",
          "content": "Image Settings"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile",
          "info": "Size Recommended 460x768"
        },
        {
          "type": "image_picker",
          "id": "image_desktop",
          "label": "Image Desktop",
          "info": "Size Recommended 3242x1070"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "header",
          "content": "Paddings Settings"
        },
        {
          "type": "range",
          "default": 0,
          "id": "top_padding_desktop",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Top Padding (Desktop)"
        },
        {
          "type": "range",
          "default": 0,
          "id": "top_padding_mobile",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Top Padding (Mobile)"
        },
        {
          "type": "range",
          "default": 0,
          "id": "bottom_padding_desktop",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Bottom Padding (Desktop)"
        },
        {
          "type": "range",
          "default": 0,
          "id": "bottom_padding_mobile",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Bottom Padding (Mobile)"
        },
        {
          "type": "header",
          "content": "Visibility Settings"
        },
        {
          "type": "select",
          "id": "text_display",
          "label": "Text Display",
          "options": [
            {
              "value": "both",
              "label": "Desktop & Mobile"
            },
            {
              "value": "desktop",
              "label": "Desktop"
            },
            {
              "value": "mobile",
              "label": "Mobile"
            }
          ],
          "default": "both"
        },
        {
          "type": "header",
          "content": "Text Settings"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Block Text AR",
          "default": "<p></p>"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "text_size",
          "label": "Text Size",
          "min": 10,
          "max": 60,
          "step": 2,
          "default": 12
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "label": "Text Size Mobile",
          "min": 10,
          "max": 60,
          "step": 2,
          "default": 12
        },
        {
          "type": "range",
          "id": "title_weight",
          "label": "Title Weight",
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "select",
          "id": "align",
          "label": "Text Position",
          "options": [
            {
              "value": "start",
              "label": "Laft"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "true_alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "header",
          "content": "Margin Settings"
        },
        {
          "type": "range",
          "default": 0,
          "id": "top_margin_desktop",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Top Margin (Desktop)"
        },
        {
          "type": "range",
          "default": 0,
          "id": "top_margin_mobile",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Top Margin (Mobile)"
        },
        {
          "type": "range",
          "default": 0,
          "id": "bottom_margin_desktop",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Botom Margin (Desktop)"
        },
        {
          "type": "range",
          "default": 0,
          "id": "bottom_margin_mobile",
          "min": 0,
          "max": 60,
          "step": 2,
          "label": "Bottom Mergin (Mobile)"
        },
        {
          "type": "header",
          "content": "Visibility Settings"
        },
        {
          "type": "select",
          "id": "button_display",
          "label": "Bottom Display",
          "options": [
            {
              "value": "both",
              "label": "Desktop & Mobile"
            },
            {
              "value": "desktop",
              "label": "Desktop"
            },
            {
              "value": "mobile",
              "label": "Mobile"
            }
          ],
          "default": "both"
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "range",
          "default": 0,
          "label": "Button Width",
          "id": "button_width",
          "info": "The minimum width for button must contain the text inside",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link",
          "default": "/"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button Text Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_color_hover",
          "label": "Button Text Color Hover",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Button Background Color",
          "default": "#079dab"
        },
        {
          "type": "color",
          "id": "button_bg_color_hover",
          "label": "Button Background Color Hover",
          "default": "#079dab"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Button Border Color",
          "default": "#079dab"
        },
        {
          "type": "color",
          "id": "button_border_color_hover",
          "label": "Button Border Color Hover",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "button_size",
          "label": "Button Text Size",
          "min": 10,
          "max": 30,
          "step": 2,
          "default": 16
        },
        {
          "type": "range",
          "id": "button_size_mobile",
          "label": "Button Text Size Mobile",
          "min": 10,
          "max": 30,
          "step": 2,
          "default": 16
        },
        {
          "type": "select",
          "id": "align",
          "label": "Button Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["*"]
  },
  "presets": [
    {
      "name": "Banner Blocks",
      "settings": {},
      "blocks": [
        {
          "type": "text",
          "settings": {
            "content": "<p>Block Title<\/p>",
            "text_color": "#000",
            "text_size_mobile": 16,
            "text_size": 16
          }
        },
        {
          "type": "button",
          "settings": {
            "button_text": "Block Button Text"
          }
        },
        {
          "type": "button",
          "settings": {
            "button_text": "Block Button Text"
          }
        }
      ]
    }
  ]
}
{% endschema %}
